
.icon-comment:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-cloud:before { content: '\e802'; } /* '' */
.icon-photo:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-edit-alt:before { content: '\e806'; } /* '' */
.icon-key:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-key-inv:before { content: '\e80b'; } /* '' */
.icon-globe-1:before { content: '\e80c'; } /* '' */
.icon-group:before { content: '\e80d'; } /* '' */
.icon-laptop-1:before { content: '\e80e'; } /* '' */
.icon-globe-alt:before { content: '\e80f'; } /* '' */
.icon-globe-2:before { content: '\e810'; } /* '' */
.icon-lightbulb:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-chat-1:before { content: '\f03d'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-comment-1:before { content: '\f4ac'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */
